.paginator {
  margin: 10px 0;
  padding: 4px;
}

.paginator__icon {
  font-weight: 700;
}

.page {
  width: 30px;
  margin: 2px;
  cursor: pointer;
  text-align: center;
}

.page--active {
  border: 1px solid #212529;
  font-weight: 700;
  border-radius: 4px;
}

.icon--disabled {
  color: #adb5bd;
}
