<div class="table">
  <div class="table__content">
    <!-- Headers -->
    <div class="table__headers d-flex align-items-center">
      <div *ngIf="expandComponent" class="table__small p-2"></div>
      <div
        *ngFor="let header of headers"
        class="p-2 table--flex"
        [ngClass]="{ 'd-none d-sm-block': !header.visibleOnMobile }"
      >
        <span>{{ header.label }}</span>
      </div>
      <div class="table__button p-2" *ngFor="let button of rowActions"></div>
    </div>
    <!-- Loading -->
    <!-- Data -->
    <div class="table__data">
      <div class="table__data__row" *ngFor="let item of data; index as i">
        <div class="table__data__item d-flex align-items-center">
          <div
            *ngIf="expandComponent"
            class="table__small p-2"
            (click)="openRows.includes(i) ? closeRow(i) : openRow(i)"
          >
            <span>></span>
          </div>
          <div
            *ngFor="let header of headers"
            class="p-2 table--flex"
            [ngClass]="{ 'd-none d-sm-block': !header.visibleOnMobile }"
          >
            <app-dynamic-table-component
              [item]="item"
              [header]="header"
            ></app-dynamic-table-component>
          </div>
          <div class="table__button p-2" *ngFor="let button of rowActions">
            <app-button></app-button>
          </div>
        </div>
        <div *ngIf="openRows.includes(i) && expandComponent">
          <app-dynamic-table-component
            [component]="expandComponent"
            [item]="item"
          ></app-dynamic-table-component>
        </div>
      </div>
    </div>
    <!-- Pagination -->
    <div *ngIf="pagination" class="d-flex justify-content-end">
      <app-paginator [pagination]="pagination"></app-paginator>
    </div>
  </div>
</div>
