<div class="row proposal-description">
  <div class="col-sm-12 col-md-3 d-block d-sm-none">
    <p class="proposal-description__header">
      Dni
    </p>
    <p>
      {{ item.docNumber }}
    </p>
  </div>
  <div class="col-sm-12 col-md-3">
    <p class="proposal-description__header">
      Nombre y apellido
    </p>
    <p>
      {{ item.fullName }}
    </p>
  </div>
  <div class="col-sm-12 col-md-3">
    <p class="proposal-description__header">
      Vehiculo
    </p>
    <p>
      {{ item.vehicle }}
    </p>
  </div>
  <div class="col-sm-12 col-md-3">
    <p class="proposal-description__header">
      Monto a financiar
    </p>
    <p>
      $ 560222
    </p>
  </div>
</div>
